#player_1,#player_2{
    background-color: gold;
    border-style:ridge;
    border-width:5px;
    border-radius: 15px;
    border-color:black;
    color: white;
    width:700px;
    height:175px;
}

body{
    font-family: impact;
    background-color: greenyellow;
}

.hr{
    color: blue;
}

img{
    width:150px;
    height:75px;
}